html,body{
    display: flex;
    justify-content: center;
    background-color: rgba(13, 138, 235, 0.8);
    background-image: url("1061.jpg");
    
}

#main-container{
    width: 980px;
    padding: 10px;
    border: 10px ridge #ffbe5f;
    border-radius: 5px;
    background-color: rgba(0, 40, 63, .8);
}

header{
    width: 970px;
    height: 50px;
    background-color: #0d8aeb;
    color: #002840;
    text-align: center;
    line-height: 50px;
    border: 5px solid #ffbe5f;
    border-radius: 5px;
}

nav{
    width: 970px;
    height: 50px;
    background-color: #0d8aeb;
    border: 5px solid #ffbe5f;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.btn{
    width: 100px;
    height: 50px;
    color: #002840;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
}

.btn:hover{
    background-color: #002840;
    padding: 0px 20px 0px 20px;
    box-shadow: inset 0px 0px 0px 2px #ffbe5f;
    color: #0d8aeb;
}

h1{
    margin: 0px;
    padding: 0px;
}

section{
    float: left;
    width: 600px;
    padding: 10px;
    color: #002840;
}

img{
    border-bottom: 5px solid #ffbe5f;
}

.main{
    background-color: #0d8aeb;
    border: 5px solid #ffbe5f;
    justify-content: center;
}

aside{
    float: left;
    width: 340px;
    padding: 10px 10px 0px 10px;
    color: #002840;
}

footer{
    width: 970px;
    clear: both;
    background-color: #0d8aeb;
    color: #002840;
    text-align: center;
    border: 5px solid #ffbe5f;
    border-radius: 5px;
}

.title{
    background-color: #0d8aeb;
    border: 5px solid #ffbe5f;
    border-radius: 5px;
    color: #002840;
}

.copy{
    color: #002840;
    font-size: 15px;
}

hr{
    background-color: #ffbe5f;
    border: 2.5px solid #ffbe5f;
    border-radius: 5px;
}